body{
  
	background-color: black;
	color:white;

}

div.jumbotron {
   margin-bottom: 0px;
     

    }

p{
	font-size:1.3em;
}

div.footer{
	font-size: 1.5em;
}

img {
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 30px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: #999;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}


div.artist {
	text-align: center;
}

div.menu{

	text-align: center;

}

.menuitem{
	padding-top: 2%;
	text-align: center;
	color:orange;
	list-style: none;
	text-decoration: none;
	list-style-type: none;
        list-style-position:inside;
       
    

}

.descr{
	list-style-type: none;
        list-style-position:inside;
        margin:0;
        padding:0;
	list-style: none;
	text-decoration: none;

}

.foodcat{

	padding-top: 3%;

}

div.quickfind{
	
	font-size: 2em;

}

a{

}

ul,li { list-style-type: none;
        list-style-position:inside;
        margin:0;
        padding:0; }

